@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@font-face {
    font-family: "Title";
    src:  url('Lequire.otf');
}
@font-face {
    font-family: "Cenios";
    src:  url('Cenios-Regular.otf');
}
:root{
    --chat-right: 30%
}
html{
    scrollbar-width: none;
    font-family: "Inter";
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%; 
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;   
}
nav{
    position: fixed;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;  
    transition: .1s ease-out;
    background-color: rgba(0,0,0,0);
}
nav>div{
    margin: 0;
    color: white;
}
.eco, .greeny{
    letter-spacing: .2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.eco>.d1{color: rgba(255,255,255, 1);}
.eco>.d2{color: rgba(255,255,255,.9);}
.eco>.d3{color: rgba(255,255,255,.8);}
.eco>.d4{color: rgba(255,255,255,.7);}
.eco>.d5{color: rgba(255,255,255,.6);}
.eco>.d6{color: rgba(255,255,255,.5);}
.greeny{
    border: 2px solid rgb(4, 159, 7);
    color:rgb(4, 159, 7);   
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    letter-spacing: .1rem;
    transition: .1s ease-out;
    user-select: none;
    cursor: pointer;
}
.greeny:hover{
    border-color: #055c07;
    background-color: #055c07;
    color: white;
}
.body{
    background: linear-gradient(to right, #00c6ff, #0072ff);
    background-image: url('https://accelerationrobotics.com/img/robotcore-fondo-escena.jpg');
    width: 100%;
    height: 100%;   
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    justify-content: center;
    align-items: end;
}
.cont{
    color:white;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.title{
    font-family: "Title";
    white-space: nowrap;
    align-items: center;
    align-content: end;
    display: flex;
    line-height: 1;
    letter-spacing: .2rem;
    flex-wrap: nowrap;
}
.title>span{
    white-space: nowrap;
    margin-bottom: -2rem;
    line-height: 1;
    font-size: 7vw;
    font-weight: 100;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap; 
}
.title>img{
    align-self: center;
    vertical-align: middle;
    width:9vw;
    filter:hue-rotate(240deg);
}
.subtitle{
    font-size: 350%;
    font-weight: 600;
    text-align: justify;
    margin-top: 2rem;
    text-transform: uppercase;
    line-height: 1;
    width: 80%;
}
.subtitle>mark{
    color: white;
    background: linear-gradient(to top, #055c07 50%, transparent 50%);
    
}
.desc{
    font-size: 200%;
    font-weight: 500;
    text-align: center;
    text-transform:lowercase; 
    margin-top: 2rem;
    margin-top: 2rem;
    line-height: 1;
    text-align: justify;
    font-family: "Cenios";
}
.cont>.desc{
    font-size: 2vw;
}
.section{
    background-color: rgb(247, 247, 247);
    font-size: 80%;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 23% 40%;
    justify-content: space-evenly;
    grid-template-rows: 80%;
    align-content: center;
    align-items: center;
}
.section>.desc{
    margin: 25% 0;
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.15;
    text-transform: unset;
    white-space: unset;
}
.section>img{
    width: 100%;
}
.desc>b{
    text-decoration: underline;
}
.section:nth-child(even){
    background-color: black;
    color: black;
}
.section:nth-child(odd)>.desc{
    color: black;
}
.section:nth-child(odd)>.cont>ul>fieldset{
    border-color: rgb(247, 247, 247);
}
.section:nth-child(odd)>.cont>ul>fieldset>legend>img{
    filter:brightness(0);
}
.section:nth-child(odd)>.cont>ul>fieldset>legend{
    background-color: rgb(247, 247, 247);
    border-color: transparent;
}   
.gridded{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: max-content max-content;
}
.gridded>.desc{
    margin: 2%;
}
#section2>.cont>ul{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    padding: 0%
}
#section3>.cont>ul,#section4>.cont>ul,#section9>.cont>ul,#section10>.cont>ul{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    padding: 0%
}
#section9>.cont>ul>div,#section10>.cont>ul>div{
    width: 80%;
    justify-self: center;
}
ul{
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}
ul.section5{
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: max-content max-content;
    justify-content: space-evenly;
    align-items: center;
}
ul.section5>fieldset:last-child{
    grid-column: span 2;    
    padding: 5%;
}
ul.section5>fieldset>ul{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
}
ul>fieldset>ul>fieldset{
    background-color: transparent;
    border-color: transparent;
}
ul.section7{
    grid-template-columns: 40% 40%;
    grid-template-rows: max-content;
    row-gap: 2rem;
    justify-content: space-evenly;  
    align-items: center;
}
ul.section7>div{
    width: 80%;
    justify-self: center;
}
ul.section8>fieldset:first-child{
    grid-column: span 3;
    padding: 3.3333%;
}
ul>img{
    width: 100%;
}
ul>fieldset{
    border: 2px solid #000000;
    padding: 10%;
    border-radius: 1.5rem;
    height: max-content;
    background-color: #7272722a;
}
ul>fieldset>b{
    display: block;
    margin-bottom: 1rem;
    text-align: left;
}
legend{
    border: 2px solid black;
    padding: 1rem;
    border-radius: 50%;
    text-align: center;
    background-color: #b8ff892a;
    background-color: black;
}
legend>img{
    filter: invert(100%);
    width: 8vmin;
}
.nav-scroll{
    background-color: rgba(0,0,0,.9);
}
#chat{
    position: fixed;
    bottom: 0;
    right: calc(0px - 2 * var(--chat-right));
    transition: .2s ease-out;
    width: var(--chat-right);
    height: 94%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1rem;    
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding:1.5%;
}
#user-input{
    background-color: rgba(0, 0, 0, 0.8); 
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 150%;
}
#chat-messages{
    overflow-y: auto;
    overflow-x: hidden;
    height: 75%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    font-size: 150%;
}
#chat-messages>div{
    left: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10rem;
    background-color: #055c07;
    width: fit-content;
    position: relative;
}
#chat-messages>.user{
    right: 0;   
    background-color: blueviolet;
    justify-content: center;
}
.anchors>div{
    transform: scaleY(0);
    position: absolute;
    text-align: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    right: 2%;
    transition: .2s ease-out;
    transform-origin: 0 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid black;
    padding: 1rem;
    border-radius: 2rem;
}
.anchors>div>a{
    font-size: 120%;
    color: rgb(247, 247, 247);
    text-decoration: none;
}
.anchors>div>a:hover{
    color: rgb(4, 159, 7);
}
.anchors>img{
    width: 5vmin;
    margin: 0 auto;
    filter: invert(100%);
}
.anchors:hover>div{
    transform: scaleY(1);
}
#section1>.cont>ul,#section2>.cont>ul,#section3>.cont>ul,#section4>.cont>ul,#section5>.cont>ul,#section6>.cont>ul,#section7>.cont>ul,#section8>.cont>ul,#section9>.cont>ul,#section10>.cont>ul{
    padding: 0;
}
@media (max-width: 973px) {
    .body{
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        justify-content: center;
        align-items: center;text-align: center;
    }
    .title>span{
        display: none;
    }
    .title{
        justify-content: center;    
    }
    .title>img{
        width: 45vw;
    }
    .body>.cont{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .cont>.desc{
        width: 90%;
        font-size: 4vw;
        white-space: normal;
        text-align: center;
        justify-self: center;
    }
    nav{
        padding: 2% .5%;
        width: 99%;
    }
    .anchors>div{
        right: 0;
        grid-template-columns: 1fr;
        background-color: rgba(0,0,0,1);
    }
    #section1>.cont>ul,#section2>.cont>ul,#section3>.cont>ul,#section4>.cont>ul,#section5>.cont>ul,#section6>.cont>ul,#section7>.cont>ul,#section8>.cont>ul,#section9>.cont>ul,#section10>.cont>ul{
        grid-template-columns: 100%;
        grid-template-rows: max-content;
        grid-template-columns: 1fr;
    }
    #section1>.cont>ul>fieldset,#section2>.cont>ul>fieldset,#section3>.cont>ul>fieldset,#section4>.cont>ul>fieldset,#section5>.cont>ul>fieldset,#section6>.cont>ul>fieldset,#section7>.cont>ul>fieldset,#section8>.cont>ul>fieldset,#section9>.cont>ul>fieldset,#section10>.cont>ul>fieldset{
        grid-column: span 1;
    }
    #section1>.cont>ul>fieldset>ul,#section2>.cont>ul>fieldset>ul,#section3>.cont>ul>fieldset>ul,#section4>.cont>ul>fieldset>ul,#section5>.cont>ul>fieldset>ul,#section6>.cont>ul>fieldset>ul,#section7>.cont>ul>fieldset>ul,#section8>.cont>ul>fieldset>ul,#section9>.cont>ul>fieldset>ul,#section10>.cont>ul>fieldset>ul{
        grid-template-rows: max-content;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1300px) {
    .section{
        grid-template-columns: 80%;
        grid-template-rows: max-content;
        align-items: center;
        justify-content:center;
    }
    .section>.desc{
        margin: 3rem 0;
    }
    .section>*{
        margin: 3rem 0;
    }
    .cont>ul{
        grid-template-columns: 100%;
        grid-template-rows: max-content;;
        grid-template-columns: 1fr;
    }
    ul>fieldset{
        margin: 0;
        padding: 5%;
    }
}